In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score,classification_report
from sklearn.naive_bayes import GaussianNB

In [4]:
data=pd.read_csv('iris.csv')
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
x=data.iloc[:,:4]
x.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm
0   1            5.1           3.5            1.4
1   2            4.9           3.0            1.4
2   3            4.7           3.2            1.3
3   4            4.6           3.1            1.5
4   5            5.0           3.6            1.4

In [6]:
y=data.iloc[:,-1]
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20)
x_train.head()

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm
110  111            6.5           3.2            5.1
93    94            5.0           2.3            3.3
41    42            4.5           2.3            1.3
46    47            5.1           3.8            1.6
120  121            6.9           3.2            5.7

In [8]:
y_test

39         Iris-setosa
60     Iris-versicolor
68     Iris-versicolor
64     Iris-versicolor
100     Iris-virginica
56     Iris-versicolor
108     Iris-virginica
75     Iris-versicolor
27         Iris-setosa
99     Iris-versicolor
142     Iris-virginica
29         Iris-setosa
129     Iris-virginica
1          Iris-setosa
135     Iris-virginica
85     Iris-versicolor
7          Iris-setosa
5          Iris-setosa
25         Iris-setosa
141     Iris-virginica
122     Iris-virginica
77     Iris-versicolor
13         Iris-setosa
67     Iris-versicolor
148     Iris-virginica
23         Iris-setosa
132     Iris-virginica
117     Iris-virginica
74     Iris-versicolor
37         Iris-setosa
Name: Species, dtype: object

In [13]:
classifier=GaussianNB()
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)

In [14]:
y_pred

array(['Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa'], dtype='<U15')

In [10]:
cm=confusion_matrix(y_test,y_pred)
ac=accuracy_score(y_test,y_pred)

In [15]:
cm

array([[10,  0,  0],
       [ 0, 10,  0],
       [ 0,  0, 10]], dtype=int64)

In [16]:
ac

1.0

In [17]:
print(classification_report(y_test,y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        10
Iris-versicolor       1.00      1.00      1.00        10
 Iris-virginica       1.00      1.00      1.00        10

       accuracy                           1.00        30
      macro avg       1.00      1.00      1.00        30
   weighted avg       1.00      1.00      1.00        30